<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lucaskaferchamados">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LucasKaferChamados">
        <activity android:name=".view.AbrirOrdemServicoActivity" />
        <activity android:name=".view.ListaOSSalvosActivity" />
        <activity android:name=".view.ListasUsuariosActivity" />
        <activity android:name=".view.ListaServicosActivity" />
        <activity android:name=".view.ServicosActivity" />
        <activity android:name=".view.UsuarioActivity" />
        <activity android:name=".view.MenuActivity" />
        <activity android:name=".view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>